.container{
  background-image: url(../../../../public/image/background2.webp);
  background-size: cover;
  background-position: center;
}
.signin__dangKy {
  color: #e64980;
  cursor: pointer;
  text-decoration: underline;
}
